<form class="text-left col-sm-6 mt-3" method="POST" action="">
    <div class="form-group">
        <label for="search-input">Email address</label>
        <input type="text" name="q" class="form-control" id="search-input" placeholder="Enter search...">
        <label for="">Giới tính</label>
        <select class="form-control" name="gender" id="">
            <option value="">--Chọn giới tính--</option>
            <option value="male">Nam</option>
            <option value="female">Nữ</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Tìm kiếm</button>
</form>