<div class="mt-4">
    <div class="row">
        <div class="col-sm-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis perspiciatis voluptas
            repellendus culpa quo non architecto abum dolor sit amet consectetur adipisicing elit. Corporis perspiciatis
            voluptas
            repellendus culpa quo non architecto ab, optio harum accusantium laboriosam alias nam illum officia.
            Blanditiis alias doloremque similique delectus.</div>
        <div class="col-sm-8">
            <h2>{{course.name}}</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{course.video}}"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            <p>{{course.description}}</p>
        </div>
    </div>
</div>